.row-container {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}

.row-cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.list-container {
  z-index: 0;
}

.row-cards::-webkit-scrollbar, .list-container::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: 100%;
  max-height: 300px;
  margin: 0 15px 10px 0;
  border-radius: 8px;
  transition: transform 450ms;
  object-fit: contain;
}

.movie-card-large {
  width: 400px;
  height: 250px;
  margin: 0 15px 10px 0;
  border-radius: 8px;
  transition: transform 450ms;
  cursor: pointer;
  object-fit: contain;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-card-large:hover {
  transform: scale(1.08);
}